<% content_for :title do %>
  <%= t(:package_results).titleize %>
<% end %>

<% if @dataset %>
  <div class="alert alert-success">
    <%= t(:package_notice, type: package_type(@dataset.publishing_format)).html_safe %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= @package.type == "files" ? "Filename" : "File URL" %></th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @validations.each do |validation| %>
      <%= render 'validation/validation', validation: validation %>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @validations, :theme => 'twitter-bootstrap-3' %>
</div>