<% content_for :title do %>
  <%= t(:package_results).titleize %>
<% end %>

<% if @dataset %>
  <div class="alert alert-success">
    <%= t(:package_notice, type: package_type(@dataset.publishing_format)).html_safe %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th><%= @package.type == "files" ? "Filename" : "File URL" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @validations.each do |validation| %>
      <tr>
        <td><%= image_tag validation_url(validation, format: :png) %></td>
        <td class="url"><%= validation.url.blank? ? validation.filename : validation.url %></td>
        <td class="text-right"><%= link_to "<i class='fa fa-list-alt'></i> View report".html_safe, validation_url(validation), title: "View report for #{validation.url}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
