<% content_for :title do %>
  Home
<% end %>

<%= form_tag validation_index_path, multipart: true do %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#url" data-toggle="tab">From URL</a></li>
  <li><a href="#file" data-toggle="tab">From file</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="url">
    <%= url_field_tag 'url', '', class: 'form-control', placeholder: t(:enter_csv_url)%>
  </div>

  <div class="tab-pane" id="file">
    <div class="input-group">  
      <span class="input-group-btn btn btn-primary btn-file">
        Browse... <%= file_field_tag 'file' %>
      </span>
      <%= text_field_tag 'filename', 'No file chosen', class: 'form-control', readonly: '' %>
    </div>
  </div>
  
  <div class="checkbox">
    <label>
      <%= check_box_tag 'schema' %>
      <%= label_tag 'schema', 'Add optional schema'%>
    </label>
  </div>
</div>

<div id="schemas" class="hidden">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#schemaurl" data-toggle="tab">From URL</a></li>
    <li><a href="#schemafile" data-toggle="tab">From file</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="schemaurl">
      <%= url_field_tag 'schema_url', '', class: 'form-control', placeholder: t(:enter_schema_url)%>
    </div>

    <div class="tab-pane" id="schemafile">
      <div class="input-group">  
        <span class="input-group-btn btn btn-primary btn-file">
          Browse... <%= file_field_tag 'schema_file' %>
        </span>
        <%= text_field_tag 'schema_filename', 'No schema file chosen', class: 'form-control', readonly: '' %>
      </div>
    </div>
  </div>
</div>

<%= submit_tag t(:validate).titleize, class: 'btn btn-primary btn-block btn-lg' %>

<% end %>

<% content_for :extra_javascript do %>

<script type="text/javascript">
	$(document)
		.on('change', '.btn-file :file', function() {
			var input = $(this),
			numFiles = input.get(0).files ? input.get(0).files.length : 1,
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
			input.trigger('fileselect', [numFiles, label]);
	});
	
	$(document).ready( function() {
		$('.btn-file :file').on('fileselect', function(event, numFiles, label) {
			
			var input = $(this).parents('.input-group').find(':text'),
				log = numFiles > 1 ? numFiles + ' files selected' : label;
			
			input.val(log);
		});
		
		$('#schema').click(function() {
		  $('#schemas').toggleClass('hidden')
		})
	});		
</script>

<% end %>