<% content_for :title do %>
  <%= t(:results).titleize %>
<% end %>

<% content_for :header do %>
  <div class="container">
        <h1 class="pull-left"><%= yield :title %></h1>
        <%= image_tag validation_url(@validation, format: 'svg', revalidate: false), :'data-toggle' => "modal", :'data-target' => "#badgeModal", :class => "pull-right result-badge"%>
    </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 id="validation_url"><%= link_to @validation.url, @validation.url %></h2>
        <div class="row">
          <% if @validation.state == "not_found" %>
            <div class="col-sm-12">
              <%= t(:not_found_html) %>

              <%= render :partial => 'revalidate' %>
            </div>
          <% else %>
             <div class="col-sm-4">
               <% if @result.valid? %>
                 <% if @result.warnings.count == 0 %>
                  <p><%= t(:valid_html) %></p>
                <% else %>
                  <p><%= t(:valid_html) %> <%= t(:valid_with_warnings) %></p>
                <% end %>
              <% else %>
                <p><%= t(:invalid_html) %></p>
              <% end %>
              <p><%= "Total Rows Processed = "+ @result.current_line.to_s %></p>
               <!--TODO ^ above will return one increment greater than current number of rows, due to current_line's logic-->
              <%= link_to '<i class="fa fa-cloud-download"></i> '.html_safe + t(:standardised_csv_download), validation_path(@validation, format: :csv), class: 'btn btn-primary btn-lg' %>

              <%= render :partial => 'revalidate' %>
             </div>
             <div class="col-sm-8">
               <table class="table table-hover report-results">
                 <tr>
                   <th></th>
                   <th class="errors"><span class="result"><%= @result.errors.count %></span>Errors</td>
                   <th class="warnings"><span class="result"><%= @result.warnings.count %></span>Warnings</td>
                   <th class="info_messages"><span class="result"><%= @result.info_messages.count %></span>Messages</td>
                 </tr>
                 <tr>
                   <td class="name">Structure</td>
                   <td class="<%= category_class(@result, :errors, :structure) %>"><%= category_count(@result.errors, :structure) %></td>
                   <td class="<%= category_class(@result, :warnings, :structure) %>"><%= category_count(@result.warnings, :structure) %></td>
                   <td class="<%= category_class(@result, :info_messages, :structure) %>"><%= category_count(@result.info_messages, :structure) %></td>
                 </tr>
                 <tr>
                   <td class="name">Schema</td>
                   <td class="<%= category_class(@result, :errors, :schema) %>"><%= category_count(@result.errors, :schema) %></td>
                   <td class="<%= category_class(@result, :warnings, :schema) %>"><%= category_count(@result.warnings, :schema) %></td>
                   <td class="<%= category_class(@result, :info_messages, :schema) %>"><%= category_count(@result.info_messages, :schema) %></td>
                 </tr>
                 <tr>
                   <td class="name">Context</td>
                   <td class="<%= category_class(@result, :errors, :context) %>"><%= category_count(@result.errors, :context) %></td>
                   <td class="<%= category_class(@result, :warnings, :context) %>"><%= category_count(@result.warnings, :context) %></td>
                   <td class="<%= category_class(@result, :info_messages, :context) %>"><%= category_count(@result.info_messages, :context) %></td>
                 </tr>
               </table>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% unless @validation.state == "not_found" %>

  <% if @result.warnings.select { |warning| warning.type == :check_options }.any? %>
    <%= form_tag validation_path(params[:id]), id: 'revalidate', class: 'form-inline alert alert-warning' do %>
      <p><%= t(:resubmit) %></p>

      <%= hidden_field_tag 'url', @validation.url %>
      <%= hidden_field_tag '_method', "put"%>
      <% unless @validation.schema.nil? %>
        <%= hidden_field_tag 'schema_url', @validation.schema.url %>
      <% end %>
      <!-- Header on or off -->
      <div class="form-group">
        <%= label_tag :header, t(:header) %> <%= check_box_tag :header, true, @dialect["header"] %>
      </div>
      <!-- Delimiter -->
      <div class="form-group">
        <%= label_tag :delimiter, t(:field_delimiter)  %> <%= text_field_tag :delimiter, @dialect["delimiter"], class: 'form-control form-control-small', maxlength: '1' %>
      </div>
      <!-- Line terminator -->
      <div class="form-group">
        <%= label_tag :line_terminator, t(:line_terminator) %> <%= select_tag :line_terminator,  options_for_select({'Autodetect' => :auto, 'LF (\n)' => '\n', 'CRLF (\r\n)' => '\r\n'}, @dialect["lineTerminator"]) %>
      </div>
      <!-- Skip initial space -->
      <div class="form-group">
        <%= label_tag :skip_initial_space, t(:skip_inital_space) %> <%= check_box_tag :skip_initial_space, true, @dialect["skipInitialSpace"] %>
      </div>
      <!-- Quote char -->
      <div class="form-group">
        <%= label_tag :quote_char, t(:quote_character) %> <%= text_field_tag :quote_char, @dialect["quoteChar"], class: 'form-control form-control-small', maxlength: '1' %>
      </div>
      <%= submit_tag t(:revalidate).titleize, class: 'btn btn-primary btn-warning' %>
    <% end %>
  <% end %>

  <%= error_and_warning_count(@result.errors, @result.warnings, wrapper: :h2) %>

  <%= render :partial => 'errors' %>

  <%= render :partial => 'warnings' %>

  <%= render :partial => 'info_messages' %>

  <div>
    <h3>Next Steps</h3>
    <p>
      Publish and transform your data using <a href='https://datagraft.net/'>DataGraft</a>, either as enhanced CSV or Linked Data.
    </p>
  </div>

<% end %>

<%= render 'badge_modal'%>

<% content_for :extra_javascript do %>
  <%= javascript_include_tag "jquery.dotdotdot.js" %>

  <script type="text/javascript">

    $(document).ready( function() {
      var url = $("#validation_url").text();
      var path = $("#validation_url").text().split( '/' );
      if ( path.length > 1 ) {
        var name = path.pop();
        $("#validation_url").html( '<a href="'+ url +'">' + path.join( '/' ) + '<span class="filename">/' + name + '</span>' + '</a>' );
        $("#validation_url").dotdotdot({
          after: 'span.filename',
          wrap: 'letter',
          watch: 'window'
        });
      }
    });

  </script>
<% end %>
