<h1>Validation Results</h1>

<p><%= @url %></p>

<% if @validator.valid? %>
  <%= image_tag 'http://b.adge.me/:CSV%20-%20valid-green.svg' %>
<% else %>
  <%= image_tag 'http://b.adge.me/:CSV%20-%20invalid-red.svg' %>
<% end %>

<%= error_and_warning_count(@errors, @warnings, wrapper: :h2) %>

<%= render :partial => 'errors' unless @errors.empty? %>

<%= render :partial => 'warnings' unless @warnings.empty? %>
