<!DOCTYPE html>
<html>
	<% html_classes = content_for?(:html_classes) ? "#{yield(:html_classes)}" : ''%>
	<head>
	  <title><!-- WAT --></title>

	  <%= render partial: 'stylesheet', locals: { css_file: local_assigns[:css_file] || 'application' } %>

	  <%= render partial: "icons" %>

	  <%= render partial: 'javascript', locals: { js_file: local_assigns[:js_file] || 'application' } unless local_assigns[:js_at_the_end] %>

	  <%= csrf_meta_tags %>
	</head>
	<body<%= content_for?(:body_classes) ? " class=\"#{yield(:body_classes)}\"".html_safe : '' %>>
		<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
		<nav>
			<div class='navbar navbar-inverse navbar-static-top' id='topbar'>
				<div class='container'>
					<div class='navbar-inner'>
						<h1><%= yield(:title) %></h1>
						<a class='brand' href='/'>
							<img alt="Logo" src="http://assets.theodi.org/img/logo-footer.png" />
<img alt="Under Construction" src="http://www.textfiles.com/underconstruction/CaCapeCanaveralOrbit2498underconstruction1.gif" />
						</a>
					</div>
				</div>
			</div>

		  <div class="navbar navbar-static-top" id="mainnav">
				<div class="container">
					<div class="navbar-inner">
					</div>
				</div>
			</div>
		</nav>

		<div class="whiteout">
			<div id='wrapper'>
					<!-- Wrapper from client app will be inserted here -->
			</div>	
		</div>

		<footer id='footer' style='clear: both'>
	     <%= render partial: 'footer_meta' %>
		</footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <%= render partial: 'javascript', locals: { js_file: local_assigns[:js_file] || 'application' } if local_assigns[:js_at_the_end] %>

  </body>
</html>
