<!doctype html>
<html lang="en" class="no-js">

<head>
  
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "labs", :media => "all" %>
    <%= stylesheet_link_tag    "dapaas", :media => "all" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'dapaas.ico' %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv.js" %>
    <![endif]-->
    
    <!-- Respond.js in IE7 and IE8 only -->
    <!--[if (IE 7)|(IE 8)]>
      <%= javascript_include_tag "respond.min.js" %>
    <![endif]-->
    
    <!-- Modernizr to detect CSS transitions etc., for Masonry animations -->
    <%= javascript_include_tag "modernizr.custom.js" %>
    
    <!-- IE-only stylesheets -->
    <!--[if lte IE 9]><%= stylesheet_link_tag "ie9.css" %><![endif]-->
    <!--[if lte IE 8]><%= stylesheet_link_tag "ie8.css" %><![endif]-->
    <!--[if lte IE 7]><%= stylesheet_link_tag "ie7.css" %><![endif]-->
    <!--[if lt IE 7]><%= stylesheet_link_tag "ie6.css" %><![endif]-->
</head>

<body class="odi-green">
    <header class="site-header">
      <%= render :partial => 'root/dapaas_navbar', :locals => { :mobile => false } %>
      
      <div class="collapse navbar-collapse">        
        <div class="navbar navbar-static-top">
          <div class="container">
            <div class="pull-right">
              <ul class="nav navbar-nav main-nav">
                <% menus = get_menu("dapaas")%>
                <% menus.each_index do |i| %>
                    <% menu = menus[i] %>
                    <li class="dropdown<%= ' last' if i == menus.length - 1 %>">
                        <a href="<%= menu['link'] %>" <% if menu['items'] %> data-target="#" data-toggle="dropdown" <% end %>>
                            <%= menu['title'] %>
                            <% if menu['items'] %>
                             <b class="caret"></b>
                            <% end %>
                         </a>
                         <% if menu['items'] %>
                            <ul class="dropdown-menu">
                                <% menu['items'].each do |item| %>
                                    <li><a href="<%= item['link'] %>"><%= item['title'] %></a></li>
                                <% end %>
                            </ul>
                        <% end %>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        
        <%= render :partial => 'root/navbar', :locals => { :mobile => true } %>
        
      </div>

    </header> <!-- /site-header -->

    <div id='wrapper'>
      <%= yield :wrapper %>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 footer-content">
                    <h1 class="dapaas-footer-logo"><a href="/"><%= image_tag('dapaas-logo.svg', alt: "Data as a Platform and Service", id: "odi-logo") %></a></h1>
                    <p class="license">
                        <a href="http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB" rel="license">
                            <%= image_tag('cc.png', alt: "Creative Commons Licence", width: 80, height: 15) %>
                        </a>
                    </p>
                </div>
                <div class="col-md-4 footer-nav">
                    <nav>
                        <ul class="pull-right list-inline">
                            <li><a href="/dapaas-terms-of-use">Terms of use</a></li>
                            <li><a href="/dapaas-privacy-policy">Privacy policy</a></li>
                            <li><a href="/dapaas-cookie-policy">Cookie policy</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <p class="fp7">DaPaaS is funded co-funded by the European Commission under the <a href="http://cordis.europa.eu/fp7/home_en.html">Seventh Framework Programme (FP7 2007-2013)</a></p>
        </div>
    </footer>
    
    <%= javascript_include_tag "application" %>
    
    <!-- No collapsible nav in IE6 -->
    <!--[if gt IE 7]><!-->
    <%= javascript_include_tag "bootstrap/bootstrap-collapse.js" %>
    <!--<![endif]-->

    <!-- Masonry and its required scripts -->
    <!-- Don't load these on IE 7 or below -->
    <!--[if gt IE 7]><!-->
    <%= javascript_include_tag "masonry.js" %>
    <!--<![endif]-->

    <%= yield :extra_javascript %>

  </body>
</html>