<!doctype html>
<html lang="en" class="no-js">

<head>
  
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv.js" %>
    <![endif]-->
    
    <!-- Respond.js in IE7 and IE8 only -->
    <!--[if (IE 7)|(IE 8)]>
      <%= javascript_include_tag "respond.min.js" %>
    <![endif]-->
    
    <!-- Modernizr to detect CSS transitions etc., for Masonry animations -->
    <%= javascript_include_tag "modernizr.custom.js" %>
    
    <!-- IE-only stylesheets -->
    <!--[if lte IE 9]><%= stylesheet_link_tag "ie9.css" %><![endif]-->
    <!--[if lte IE 8]><%= stylesheet_link_tag "ie8.css" %><![endif]-->
    <!--[if lte IE 7]><%= stylesheet_link_tag "ie7.css" %><![endif]-->
    <!--[if lt IE 7]><%= stylesheet_link_tag "ie6.css" %><![endif]-->
</head>

<body>
    <header class="site-header">
      <%= render :partial => 'root/navbar', :locals => { :mobile => false } %>
      
      <div class="collapse navbar-collapse">        
        <div class="navbar navbar-static-top">
          <div class="container">
            <div class="pull-right">
              <ul class="nav navbar-nav main-nav">
                <% menus = get_menu("www")%>
                <% menus.each_index do |i| %>
                    <% menu = menus[i] %>
                    <li class="dropdown<%= ' last' if i == menus.length - 1 %>">
                        <a href="<%= menu['link'] %>" <% if menu['items'] %> data-target="#" data-toggle="dropdown" <% end %>>
                            <%= menu['title'] %>
                            <% if menu['items'] %>
                             <b class="caret"></b>
                            <% end %>
                         </a>
                         <% if menu['items'] %>
                            <ul class="dropdown-menu">
                                <% menu['items'].each do |item| %>
                                    <li><a href="<%= item['link'] %>"><%= item['title'] %></a></li>
                                <% end %>
                            </ul>
                        <% end %>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        
        <%= render :partial => 'root/navbar', :locals => { :mobile => true } %>
        
      </div>

    </header> <!-- /site-header -->

    <div id='wrapper'>
      <%= yield :wrapper %>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 footer-content">
                    <h1 class="footer-logo"><a href="http://www.theodi.org">Open Data Institute</a></h1>
                    <p><a href="http://www.theodi.org/contact">Open Data Institute, 65 Clifton Street, London EC2A 4JE</a></p>
                    <p><a href="mailto:info@theodi.org">info@theodi.org</a> Company <a href="http://opencorporates.com/companies/gb/08030289">08030289</a> 
                        <span>VAT</span><span>143 7796 80</span>
                    </p>
                    <p class="license">
                        <a href="http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB" rel="license">
                            <%= image_tag('cc.png', alt: "Creative Commons Licence", width: 80, height: 15) %>
                        </a>
                    </p>
                </div>
             <div class="col-md-4 footer-nav">
                <nav><ul class="pull-right list-inline">
                        <li><a href="http://www.twitter.com/UKODI" class=" ">
                            <%= image_tag('twitter.png', alt: "Follow us on Twitter", title: "Follow us on Twitter") %></a></li>
                        <li><a href="https://soundcloud.com/theodi" class=" ">
                            <%= image_tag('soundcloud.png', alt: "Listen on Soundcloud", title: "Listen on Soundcloud") %></a></li>
                        <li><a href="http://www.scribd.com/OpenDataInstitute" class=" ">
                            <%= image_tag('scribd.png', alt: "Read on Scribd", title: "Read on Scribd") %></a></li>
                        <li><a href="https://github.com/orgs/theodi" class=" ">
                            <%= image_tag('github.png', alt: "Follow us on Github", title: "Follow us on Github") %></a></li>
                        <li><a href="http://vimeo.com/theodiuk" class=" ">
                            <%= image_tag('vimeo.png', alt: "Watch on Vimeo", title: "Watch on Vimeo") %></a></li>
                        <li><a href="http://www.youtube.com/user/OpenDataInstituteUK" class=" ">
                            <%= image_tag('youtube.png', alt: "Watch on Youtube", title: "Watch on Youtube") %></a></li>
                        <li><a href="http://www.flickr.com/photos/ukodi/" class=" ">
                            <%= image_tag('flickr.png', alt: "Follow us on Flickr", title: "Follow us on Flickr") %></a></li>
                    </ul></nav>
                <br> 
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                    <nav><ul class="pull-right list-inline">
                            <li class=" "><a href="/terms-of-use" class=" ">Terms of use</a></li>
                            <li class=" "><a href="/privacy-policy" class=" ">Privacy policy</a></li>
                            <li class=" "><a href="/cookie-policy" class=" ">Cookie policy</a></li>
                        </ul></nav>
                </div>
            </div>
        </div>
    </footer>
    
    <%= javascript_include_tag "application" %>
    
    <!-- No collapsible nav in IE6 -->
    <!--[if gt IE 7]><!-->
    <%= javascript_include_tag "bootstrap/bootstrap-collapse.js" %>
    <!--<![endif]-->

    <!-- Masonry and its required scripts -->
    <!-- Don't load these on IE 7 or below -->
    <!--[if gt IE 7]><!-->
    <%= javascript_include_tag "masonry.js" %>
    <!--<![endif]-->

    <%= yield :extra_javascript %>

  </body>
</html>