<!doctype html>
<html lang="en" class="no-js">

<head>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag "resumable.css" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= alternate_auto_discovery_link_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv.js" %>
    <![endif]-->

    <!-- Respond.js in IE7 and IE8 only -->
    <!--[if (IE 7)|(IE 8)]>
      <%= javascript_include_tag "respond.min.js" %>
    <![endif]-->

    <!-- IE-only stylesheets -->
    <!--[if lte IE 9]><%= stylesheet_link_tag "ie9.css" %><![endif]-->
    <!--[if lte IE 8]><%= stylesheet_link_tag "ie8.css" %><![endif]-->
    <!--[if lte IE 7]><%= stylesheet_link_tag "ie7.css" %><![endif]-->
    <!--[if lt IE 7]><%= stylesheet_link_tag "ie6.css" %><![endif]-->
    <title><%= title %> | <%= yield :title %></title>
</head>

<body class="odi-<%= colour %>">

    <header class="site-header">

     <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
      <div class="navbar-header">

       <!-- Mobile nav toggle -->
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
       </button>

      <h1 class="site-title">
        <a href="/"><%= title %></a>
        <span class="label label-success status"><%= status.upcase %></span>
      </h1>

      </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav main-nav navbar-right">
            <% menus = get_menu(menu)%>
            <% menus.each_index do |i| %>
                <% menu = menus[i] %>
                <li class="dropdown<%= ' last' if i == menus.length - 1 %>">
                    <a href="<%= menu['link'] %>" <% if menu['items'] %> data-target="#" data-toggle="dropdown" <% end %>>
                        <%= menu['title'] %>
                        <% if menu['items'] %>
                         <b class="caret"></b>
                        <% end %>
                     </a>
                     <% if menu['items'] %>
                        <ul class="dropdown-menu">
                            <% menu['items'].each do |item| %>
                                <li><a href="<%= item['link'] %>"><%= item['title'] %></a></li>
                            <% end %>
                        </ul>
                    <% end %>
                </li>
            <% end %>
          </ul>
        </div>
    </div>





      </div>

    </header> <!-- /site-header -->

    <div id='wrapper'>

      <% if content_for?(:header) %>
        <%= yield :header %>
      <% elsif content_for?(:title) %>
        <header class="page-title">
            <div class="container">
                <h1><%= yield :title %></h1>
            </div>
        </header>
      <% end %>

      <%= yield :hero %>

      <div class="container">
          <div class="row">
            <%= yield %>
          </div>
      </div>

    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 footer-content">
                    <h1 class="footer-logo"><a href="http://www.theodi.org">Open Data Institute</a></h1>
                    <p><a href="http://www.theodi.org/contact">Open Data Institute, 65 Clifton Street, London EC2A 4JE</a></p>
                    <p><a href="mailto:info@theodi.org">info@theodi.org</a> Company <a href="http://opencorporates.com/companies/gb/08030289">08030289</a>
                        <span>VAT</span><span>143 7796 80</span>
                    </p>
                    <p class="license">
                        <a href="http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB" rel="license">
                            <%= image_tag('cc.png', alt: "Creative Commons Licence", width: 80, height: 15) %>
                        </a>
                    </p>
                </div>
                <div class="col-md-4 footer-nav">
                    <nav>
                        <ul class="pull-right list-inline">
                            <li><a href="/about">About</a></li>
                            <li><a href="/privacy_policy">Privacy policy</a></li>
                            <li><a href="/cookie-policy">Cookie policy</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <%= javascript_include_tag "application" %>

    <%= yield :extra_javascript %>

  </body>
</html>
