<!DOCTYPE html>
<html>
<head>
  <title><%= t(:site_title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  <div id='wrapper'>
    <% if content_for?(:title) %>
      <header class="page-title">
          <div class="container">
              <h1><%= yield :title %></h1>
          </div>
      </header>
    <% end %>
  
    <%= yield :hero %>

    <div class="container">
        <div class="row">
          <%= yield %>
        </div>
    </div>

  </div>
  
  <%= javascript_include_tag "bootstrap/bootstrap-tab" %>
  <%= yield :extra_javascript %>
  
</body>
</html>