<!DOCTYPE html>
<html>
<head>
  <title><%= t(:site_title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  <div id='wrapper'>

    <div class="collapse navbar-collapse">        
      <div class="navbar navbar-static-top">
        <div class="container">
          <div class="pull-right">
            <ul class="nav navbar-nav main-nav">
              <li class="dropdown">
                <a href="/about">
                  About
                </a>
              </li>
              <li class="dropdown">
                <a href="/validation/list">
                  Recent validations
                </a>
              </li>
              <li class="dropdown last">
                <a href="/schemas">
                  Recent schemas
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <% if content_for?(:title) %>
      <header class="page-title">
          <div class="container">
              <h1><%= yield :title %></h1>
          </div>
      </header>
    <% end %>
  
    <%= yield :hero %>

    <div class="container">
        <div class="row">
          <%= yield %>
        </div>
    </div>

  </div>
  
  <%= yield :extra_javascript %>
  
</body>
</html>