<p>
  <%= link_to schemas_url do %>
    <i class="glyphicon glyphicon-chevron-left"></i> Back to Recent Schemas
  <% end %>
</p>

<h1>
  Schema Information
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= @schema.uri %></h2>

    <%= link_to @schema.uri, class: 'btn btn-primary btn-lg' do %>
      <i class="fa fa-cloud-download"></i> Download schema
    <% end %>
  </div>
</div>


<h2>Fields</h2>

<table id='fields' class='table table-striped'>
  <tr>
  	<th><%= t :field_index %></th>
    <th><%= t :field_name %></th>
    <th><%= t :constraint_required %></th>
    <th><%= t :constraint_unique %></th>
    <th><%= t :constraint_type %></th>
    <th><%= t :constraint_value_constraints %></th>
    <th><%= t :field_title %>/<%= t :field_description %></th>    
  </tr>
  <% @schema.fields.each_with_index do |field, i| %>
    <tr>
      <td>
		<%= i+1 %>     
      </td>
      <td>
        <code><%= field.name %></code>
      </td>
      <td>
      	<%= field.constraints["required"] == true ? t(:yes) : t(:yes) %>
      </td>
      <td>
      	<%= field.constraints["unique"] == true ? t(:no) : t(:no) %>
      </td>
      <td>
		<% if field.constraints["type"] %>
		  <a href="<%= field.constraints["type"] %>">
		  	<%= t field.constraints["type"].gsub("http://www.w3.org/2001/XMLSchema#", "xsd_").downcase.to_sym %>
		  </a>
		<% else %>
		  <a href="http://www.w3.org/2001/XMLSchema#string">
		  	<%= t :xsd_string %>
		  </a>	
		<% end %>
		<% if date_type?( field ) %>
			<br/>
			<code><%= date_pattern( field ) %></code>
		<% end %>
      </td>            
      <td>
        <% value_constraints( field ).each_pair do |key, value| %>
          <%= t "constraint_#{key}".to_sym %>: <%= value %><br/>
        <% end %>
      </td> 
      <td>
        <% if field.title %><%= field.title %><br/><% end %>
        <i><%= field.description %></i>
      </td>           
    </tr>
  <% end %>
</table>

<div>
  <%= link_to '<i class="fa fa-cloud-download"></i> '.html_safe + t(:example_csv_download), schema_path(@db_schema, format: :csv), class: 'btn btn-primary btn-lg' %>
</div>